@import '~antd/dist/antd.css';

.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .state { 
      /* fill:rgb(9, 157, 217);  */
      stroke-width: 1;
  }
  .state:hover {
    /* fill: grey; */
    cursor: pointer;
  }
  
.loginContainer{ 
    width:400px; 
    margin: auto;
    margin-top:200px;
} 
  
.login-form {
    max-width: 400px;
    margin-top: 15px;
  }
.login-form-forgot {
    float: right;
  }
 .ant-col-rtl .login-form-forgot {
    float: left;
  }
 .login-form-button {
    width: 100%;
  }

  .chart{ 
    margin: 50px;
  }